# .gitignore file for Drupal project
/vendor/
/web/core
/web/libraries
/web/*/contrib
/web/*/readme.txt
/web/sites/*/files
/web/sites/*/settings.local.php
/web/sites/default/default.*
/web/sites/example.*
/.gitattributes
node_modules
/web/web.config
/web/update.php
/web/install.txt
/web/index.php
/web/robots.txt
/web/autoload.php
/web/example.gitignore
/web/.htaccess
/web/.ht.router.php
/web/.csslintrc
/web/.eslintrc.json
/web/.eslintignore
/web/README.md
